body {
  font-family: "Antic Slab", serif;
}

.emptyBox {
  height: 50px;
}

.homePageParallax {
  display: block;
}

p {
  font-size: 1.3em;
}

.imgTxt {
  margin-left: 70px;
  font-size: 1.5em;
}

.phoneNumber {
  margin-left: 70px;
  font-size: 1.5em;
}

.bottomBreak{
  border-bottom: 4px solid rgb(17, 94, 30);
}

.back-to-top {
	display: none;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 80px;
	bottom: 80px;
}

.buttonMove {
  transform: translateY(53%);
}
